.medium-editor-toolbar-anchor-preview {
  background-color: #f00;
  width: 100%;
  color: #000;
  border-radius: 5px;

  .medium-editor-toolbar-anchor-preview-button-remove,
  .medium-editor-toolbar-anchor-preview-button-edit  {
    color: #000;
    color: #000;
    border-radius: 5px;
  }
}
